/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-color: #ff5151;
  --main-color-lighten: #ff6161;
  --primary-subtitle-color: #686868;
  --secondary-title-color: #303030;
  --secondary-subtitle-color: #686868;
  --tertiary-color: #161e54;

  --divider-color: #f1f1f1;

  --border-radius: 6px;
  --just-white: #fff;

  --background-color: #fafafa;

  --icon-color: #b2b2b2;
  --icon-size: 24px;

  --border-style: 1px solid #e0e0e0;

  --mobile-breakpoint: 390px;
  --tablet-breakpoint: 744px;
  --desktop-breakpoint: 1197px;

  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto', sans-serif;

  --divider-style: var(--divider-color) solid 1px;

  --transition: all 0.2s ease-in-out;

  /* */
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 390px) {
  :root {
    --nav-height: 59px;
    --sidebar-width: 0px;
  }
}

@media (min-width: 744px) {
  :root {
    --nav-height: 61px;
    --sidebar-width: 90px;
  }
}

@media (min-width: 1197px) {
  :root {
    --nav-height: 90px;

    --sidebar-width: 242px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Poppins;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
